@charset "utf-8";
$red: #ff3333;
$buttonSize: (
  width: 80px,
  height: 40px,
  border-radius: 5px,
);

$moveToMiddle: (
  display: flex,
  flex-direction: column,
  align-items: center,
);

@mixin buttonSizeStyles($sizeMap) {
  @each $prop, $value in $sizeMap {
    #{$prop}: $value;
  }
}

.edit-task {
  width: 90%;
  margin: 100px auto;
  @each $prop, $value in $moveToMiddle {
    #{$prop}: $value;
  }

  &-form {
    color: #555555;
  }

  &-title,
  &-detail,
  &-date {
    width: 300px;
    margin-bottom: 25px;
    text-align: center;
  }
}

.radio-button,
.submit-button {
  display: flex;
  justify-content: center;
}

.delete-task-button {
  color: $red;
  border: solid 1px $red;
  margin: 0 5px;
  @include buttonSizeStyles($buttonSize);
}

.edit-task-button {
  background-color: #242f9b;
  color: #ffffff;
  @include buttonSizeStyles($buttonSize);
}

.error-message {
  color: $red;
}

@media screen and (max-width: 768px) {
  .edit-task {
    &-title,
    &-detail,
    &-date {
      max-width: 90%;
    }
  }
}
