@charset "utf-8";
$red: '#ff3333';
$buttonSize: (
  width: 80px,
  height: 40px,
  border-radius: 5px,
);

@mixin buttonSizeStyles($sizeMap) {
  @each $prop, $value in $sizeMap {
    #{$prop}: $value;
  }
}

.edit-task {
  width: 1000px;
  margin: 0 auto;

  &-form {
    color: #555555;
  }

  &-title,
  &-detail,
  &-date {
    width: 300px;
    margin-bottom: 25px;
  }
}

.delete-task-button {
  color: $red;
  border: solid 1px $red;
  margin: 25px 5px;
  @include buttonSizeStyles($buttonSize);
}

.edit-task-button {
  background-color: #242f9b;
  color: #ffffff;
  @include buttonSizeStyles($buttonSize);
}

.error-message {
  color: $red;
}
