@charset "utf-8";
$red: #ff3333;

$moveToMiddle: (
  display: flex,
  flex-direction: column,
  align-items: center,
);

.edit-list {
  width: 90%;
  margin: 100px auto;
  @each $prop, $value in $moveToMiddle {
    #{$prop}: $value;
  }
}

.edit-list-form {
  color: #555555;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
  text-align: center;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.delete-list-button {
  color: $red;
  border: solid 1px $red;
  width: 80px;
  height: 40px;
  margin: 0 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $red;
}

@media screen and (max-width: 768px) {
  .edit-list-title {
    max-width: 90%;
  }
}
