@charset "utf-8";

$moveToMiddle: (
  display: flex,
  flex-direction: column,
  align-items: center,
);

.new-list {
  width: 90%;
  margin: 100px auto;
  @each $prop, $value in $moveToMiddle {
    #{$prop}: $value;
  }

  &-form {
    color: #555555;
    @each $prop, $value in $moveToMiddle {
      #{$prop}: $value;
    }
    justify-content: center;
  }

  &-title {
    width: 300px;
    margin-bottom: 25px;
  }

  &-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .new-list-title {
    max-width: 90%;
  }
}
