@charset "utf-8";

$moveToMiddle: (
  display: flex,
  flex-direction: column,
  align-items: center,
);

.new-task {
  width: 90%;
  margin: 70px auto;
  @each $prop, $value in $moveToMiddle {
    #{$prop}: $value;
  }

  &-form {
    color: #555555;
    @each $prop, $value in $moveToMiddle {
      #{$prop}: $value;
    }
  }

  &-select-list,
  &-title,
  &-detail,
  &-date {
    width: 300px;
    margin-bottom: 25px;
  }

  &-detail {
    height: 200px;
  }

  &-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
}
.error-message {
  color: #ff3333;
}

@media screen and (max-width: 768px) {
  .new-task {
    &-select-list,
    &-title,
    &-detail,
    &-date {
      max-width: 90%;
    }
  }
}
